server:
  port: 8083

#spring:
#  datasource:
#    druid:
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      url: jdbc:mysql://localhost:3306/pmsdb
#      username: root
#      password: root


spring:
  config:
      import: optional:file:.env[.properties]
      
  datasource:
    url: jdbc:mysql://localhost:3306/pmsdb?useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD} 
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

#开启日志


#mybatis-plus:
# configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl